<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><%= nick %></a>
        <form action="/logout" method="post">
          <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Log out"/>
        </form>
</nav>