body {
    background-color: #eee;
    font-family: sans-serif;
}

.playCard {
    display: inline-block;
    position: relative;
    width: 6em;
    height: 9em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
}

.playCard.red {
    color: red;
}

.playCard-topleft {
    position: absolute;
    top: 0.5em;
    left: 0.75em;
}

.playCard-bottomright {
    position: absolute;
    bottom: 0.5em;
    right: 0.75em;
    transform: rotate(180deg);
}

.playCard-corner-rank,
.playCard-corner-suit {
    font-size: 1.0em;
    line-height: 1.25;
    text-align: center;
    transform: translate(-50%, 0);
}

.playCard-suits {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17.5%;
    height: 25%;
    transform: translate(-50%, -50%);
}

.playCard-suit {
    font-size: 1.3em;
    position: absolute;
}

.playCard-suit.mirrored {
    transform: rotate(180deg);
}

@keyframes moveLoc {
    0% {}
    100% {
        transform: translate(50vw, 0vh);
    }
}