<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script>
  clickedSignUp = false;
  function signUp(){
    if(clickedSignUp === false){
      var SignInBtn = document.getElementById('SignIn');
      var pwre = document.getElementById('pw_re');
      var gth = document.getElementById('groupsTohide');
      clickedSignUp = true;
      pwre.focus();
      return;
    }
    var email = document.getElementById('email');
    var pwd = document.getElementById('pw');
    var pwd_re = document.getElementById('pw_re');
    var catSelect = document.getElementById('option1');
    var dogSelect = document.getElementById('option2');
    var nick = document.getElementById('nick');
    if(!validateEmail(email.value)){
      alert("코드 형식이 맞지 않습니다");
      email.focus();
      return;
    }
    if(pwd.value == ""){
      alert("암호를 입력해주세요");
      pwd.focus();
      return
    }
    if(pwd_re.value == ""){
      alert("암호재입력 란을 입력해주세요");
      pw_re.focus();
      return
    }
    if(pwd.value != pwd_re.value){
      alert("암호재입력이 올바르지 않습니다.");
      pwd.focus();
      return
    }
    signUpForm.submit();
  }
  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    // 사이트 코드 형식에 맞게 패턴 수정 해야함 (현재는 이메일 패턴)
    return re.test(String(email).toLowerCase());
  }
  </script>
  <link rel="shortcut icon" href="/favicon.ico">
  <title>NEWYORK</title>
</head>
<body style="background-color:#212529">

  <div class="container">
    <div class="col-md-12" align="center">

      <div style="width: 20rem;margin-top:5rem ;background-color:#212529">

        <form action="/" method="post" name="signUpForm">
          <input type="text" id="email" name="email" class="form-control" placeholder="코드입력" style="margin-bottom:5px;" />
          <input type="password" id="pw" name="pw" class="form-control" placeholder="암호입력" style="margin-bottom:5px;"/>
          <input type="password" id="pw_re" name="pw_re" class="form-control" placeholder="암호재입력" />
          <br>
          <input type="button" id="SignUp" class="form-control btn-outline-warning" onclick="signUp()" value="Register"/>
        </form>
      </div>
    </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>