<div class="chat_container">
        <div class="col-sm-12 message_section">
                <div class="row">
                        <div class="chat_area">
                            <ul class="list-unstyled">
                                    <% for (var chat of chats) { %>
                                        <li class="left clearfix">
                                          <% if (chat.user == user) { %>
                                            <h6 class="float-right"><%= chat.user %></h6>
                                            <div class="float-right chat-body2 clearfix">
                                              <p><%= chat.chat %></p>    
                                              <div class="chat_time float-left"><%= chat.time %></div>
                                            </div>
                                          <% } else if (chat.user == 'system') { %> 
                                            <div class="chat-body-sytem"><p  align="center"><%= chat.chat %></p><div>
                                          <% } else { %> 
                                            <h6 class="float-left"><%= chat.user %></h6>
                                            <div class="float-left chat-body1 clearfix">
                                              <p><%= chat.chat %></p>
                                              <div class="chat_time float-left"><%= chat.time %></div>
                                            </div>
                                          <% } %> 
                                        </li>
                                      <% } %>                 
                            </ul>

                        </div><!--chat_area-->
                        <div class="message_write" style="margin-bottom: 0px">
                                <form action="/game" method="post" enctype="multipart/form-date">
                                    <textarea type="text" class="form-control" placeholder="메세지를 적으세요"></textarea>
                                    <div class="clearfix">
                                            <input class="float-right btn btn-success" value="전송"/>
                                    </div>
                                </form>
                        </div>

                </div>
        </div>
</div>
          
            
              
                
                    
                </ul>
              </div>
              
              
                
                  
                  
                  <div class="chat_bottom">
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--message_section-->